// colors
$nufc-blue: #09f;
$nufc-dark: #231f20;
$nufc-light: #3d2a2f;
$nufc-black: #000;
$nufc-greyed: #636c72;
$nufc-gold: #f0b83d;
$nufc-white: #fff;

// font setup
$nufc-ed: 'Caveat', cursive;
$nufc-header: 'Oranienbaum', serif;
$headers: 'Russo One', sans-serif;
$nufc-text: 'Montserrat', sans-serif;
$nufc-text-alt: 'Roboto', sans-serif;
